/* You can add global styles to this file, and also import other style files */
@import "src/variables";

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.noselect {
    @include noselect;
}
