@import "src/variables";

.rs-container {
    @include drop-indicator;
    @include noselect;

    position: relative;
    width: 100%;
    height: 100%;
    background-color: $colMedia;
    border: $borderMedia;
}

#play-button, #fullscreen-button {
    cursor: pointer;
    position: absolute;
    background: transparent;
}

.chip-list {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;

    app-chip {
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

#session-select {
    margin-left: 5px;
    margin-right: 5px;
}

#fullscreen-button {
    top: 5px;
    right: 5px;
    font-size: 42px;
    line-height: 42px;
}

#play-button {
    left: calc(50% - 64px);
    top: calc(50% - 64px);
    font-size: 128px;
    height: 128px;
    line-height: 128px;
}

video {
    touch-action: none;
    width: 100%;
    height: 100%;
}

#camera-views, #entity-camera-views {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .button {
        box-shadow: inherit;
        background-color: transparent;
    }

    .button.active {
        background-color: $colActive;
    }
}

#info-panel {
    @include noselect;

    position: absolute;
    bottom: 5px;
    left: 10px;
    color: $colHighlight;

    #tooltip {
        position: absolute;
        visibility: hidden;

        border-radius: 3px;
        border: $borderDefault;
        width: 300px;
        background: white;

        left: 25px;
        bottom: 25px;
        padding: 10px;
        color: black;

        .keybinding-entry {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .keybinding {
            border: 2px solid black;
            border-radius: 6px;
            padding: 3px;
            margin: 5px;
            min-width: 30px;
            display: inline-block;
            text-align: center;
        }
    }

    &:hover #tooltip {
        visibility: visible;
    }
}